@import '/packages/common/styles/_tokens';

@font-face {
  font-family: $dsco-font-family;
  font-weight: $dsco-font-face-normal;
  font-style: normal;
  src: url('./assets/fonts/Gotham-Book.otf');
}

@font-face {
  font-family: $dsco-font-family;
  font-weight: $dsco-font-face-normal;
  font-style: italic;
  src: url('./assets/fonts/Gotham-BookItalic.otf');
}

@font-face {
  font-family: $dsco-font-family;
  font-weight: $dsco-font-face-bold;
  font-style: normal;
  src: url('./assets/fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: $dsco-font-family;
  font-weight: $dsco-font-face-bold;
  font-style: italic;
  src: url('./assets/fonts/Gotham-MediumItalic.otf');
}

@font-face {
  font-family: $dsco-font-family;
  font-weight: $dsco-font-face-bolder;
  font-style: normal;
  src: url('./assets/fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: $dsco-font-family;
  font-weight: $dsco-font-face-bolder;
  font-style: italic;
  src: url('./assets/fonts/Gotham-BoldItalic.otf');
}
