// Color constants for DSCO.
//
// DO NOT IMPORT THIS FILE DIRECTLY. Use _tokens.scss
// instead, which convey semantic meaning of colors and
// other style variables.

// Neutrals
$dsco-charcoal: #4d575f;

$dsco-gray-1: #f2f2f2;
$dsco-gray-2: #e7e8ea;
$dsco-gray-3: #c6cacd;
$dsco-gray-4: #949ca2;
$dsco-gray-5: $dsco-charcoal;
$dsco-gray-6: black;

// Teal
$dsco-teal: #00adbc;

$dsco-teal-1: #d9f3f5;
$dsco-teal-2: #a6e3e8;
$dsco-teal-3: #59cad3;
$dsco-teal-4: $dsco-teal;

// Purple
$dsco-purple: #7665a0;

$dsco-purple-1: #ebe8f1;
$dsco-purple-2: #cfc9de;
$dsco-purple-3: #a69bc1;
$dsco-purple-4: $dsco-purple;

// Orange
$dsco-orange: #ffa00;

$dsco-orange-1: #fff2d9;
$dsco-orange-2: #ffe0a6;
$dsco-orange-3: #ffc459;
$dsco-orange-4: $dsco-orange;

// Blue
$dsco-blue: #0094ca;

$dsco-blue-1: #d9eff7;
$dsco-blue-2: #a6daed;
$dsco-blue-3: #59b9dc;
$dsco-blue-4: $dsco-blue;

// Green
$dsco-green: #oebe0e;

$dsco-green-2: #9fd49f;
$dsco-green-4: $dsco-green;

// Red
$dsco-red: #cc0000;

$dsco-red-2: #ffcccc;
$dsco-red-4: $dsco-red;

// Gold
$dsco-gold: #ffc52d;

$dsco-gold-1: #ffc52d;
$dsco-gold-2: #ffeabb;
$dsco-gold-3: #ffdb88;
$dsco-gold-4: $dsco-gold;

// Lime
$dsco-lime: #b9bf15;

$dsco-lime-1: #f5f5dc;
$dsco-lime-2: #e7e9ad;
$dsco-lime-3: #d1d567;
$dsco-lime-4: $dsco-lime;
