@import './tokens';

@mixin font-normal {
  font-family: $dsco-font-family-default, 'Gotham 4r', sans-serif;
  font-weight: $dsco-font-weight-normal;
  font-style: normal;
}

@mixin font-normal-italic {
  @include font-normal;
  font-family: $dsco-font-family-default, 'Gotham 4i', sans-serif;
  font-style: italic;
}

@mixin font-bold {
  font-family: $dsco-font-family-default, 'Gotham 5r', sans-serif;
  font-weight: $dsco-font-weight-bold;
  font-style: normal;
}

@mixin font-bold-italic {
  @include font-bold;
  font-family: $dsco-font-family-default, 'Gotham 5i', sans-serif;
  font-style: italic;
}

@mixin font-bolder {
  font-family: $dsco-font-family-default, 'Gotham 7r', sans-serif;
  font-weight: $dsco-font-weight-bolder;
  font-style: normal;
}

@mixin font-bolder-italic {
  @include font-bolder;
  font-family: $dsco-font-family-default, 'Gotham 7i', sans-serif;
  font-style: italic;
}
